<div class="container"> 
  <div class="row">
    <div class="col-md-4">
      <div class="card card-block" style="padding: 1em;">
        <% if user_signed_in? %>
          <h4 class="card-title">Your Account</h4>
          <p class="card-text"><%= link_to current_user.name %></p>
        <% else %>
          <p class="card-text"><%= link_to "Sign up now!", signup_path %></p>
        <% end %>
      </div>
    </div>

    <div class="col-md-8">
      <div class="list-group" style="padding-bottom: 1em;">
        <% if user_signed_in? %>
        <%= link_to 'New Tweet', new_tweet_path%>
        <%else%>
        <%= link_to 'Create your own tweet', new_tweet_path %>
        <% end %>
      </div>
      <ul class="list-group">
        <% @tweets.each do |tweet| %>
          <%= link_to tweet, class: "list-group-item list-group-item-action" do %>
            <h5 class="list-group-item-heading"><%= tweet.user.name %></h5>
            <p class="list-group-item-text"><%= tweet.content %></p>
            <% end %>
        <% end %>
      </ul>
    </div>

  <br>
  
  </div>
</div>