<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<h3>Forgot your password?</h3>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "user@example.com" %>
  </div>

  <div class="form-group">
    <%= f.submit "Send me reset password instructions", class: "link" %>
  </div>
<% end %>

<center>
  or <%= render "devise/shared/links" %>
</center>
